# 1 Selecting one column

In [1]:
import pandas as pd

In [24]:
df_exams = pd.read_csv("StudentsPerformance.csv")
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## 1.1 Syntax 1

In [12]:
#seleccionar una columna con []. Pongo el nombre del dataframe, y directamente le pongo [] y adentro el nombre de la columna con ""
df_exams["gender"]

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [13]:
# chequear que tipo de data es 
type(df_exams["gender"])

pandas.core.series.Series

In [14]:
# si quiero saber los atributos series:attributes and methods
df_exams["gender"].index

RangeIndex(start=0, stop=1000, step=1)

## 1.2 Syntax 2

In [15]:
# seleccionar una columna con . (no necesita abrir braquets o comillas)
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [25]:
# seleccionar una columna con . (pitfalls, obstaculos o trampas)
# no funciona para columnas de dos palabras, con o sin guion bajo, no va a fauncionar

df_exams.math_score

AttributeError: 'DataFrame' object has no attribute 'math_score'

In [26]:
#seleccionar la misma columna usando [] 
df_exams["math score"]

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64